// .mat-menu-item{
//     width: 180px !important;
// }

.theme-change-btn {
    background: transparent !important;
    color: white !important;
}

.nav-item {
    padding: 2px 17px;
    border: 2px solid;
    border-radius: 6px;
    margin: 0px 9px;
    cursor: pointer;
}