@use '@angular/material' as mat;

@include mat.core();

$black: #2d3436;
$white: #dfe6e9;


// ###### Default Theme ######

// #################################### Default Theme #####################################
//                                -------( Define Theme Palette here)------
$angular-primary: mat.define-palette(mat.$teal-palette, 500, 100, 900);
$angular-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$angular-warn: mat.define-palette(mat.$red-palette);
$angular-default-theme: mat.define-light-theme((color: (primary: $angular-primary,
                accent: $angular-accent,
                warn: $angular-warn,
            ),
        ));

// *********************************** Default Theme Ends Here ****************************************

.light-theme {
    // @include mat.all-component-colors($angular-primary);
}


// ################################### Dark Theme #####################################################

//                         -------(Define Theme Palette here)------

$dark-theme: mat.define-dark-theme((color: (primary: mat.define-palette(mat.$pink-palette),
                accent: mat.define-palette(mat.$blue-grey-palette),
            ),
            // Only include `typography` and `density` in the default dark theme.
            typography: mat.define-typography-config(),
            density: 0,
        ));

@include mat.core-theme($dark-theme);
$my-palette: mat.define-palette(mat.$indigo-palette);

.dark-theme {

    background: $black;
    color: $white;
    @include mat.all-component-colors($dark-theme);
    $dark-palette: mat.define-palette(mat.$blue-grey-palette);
    // color: mat.get-color-from-palette($dark-palette, 'darker-contrast');
    // background: mat.get-color-from-palette($dark-palette, 'darker');

    body {
        background-color: $black;
    }

    .row {
        background-color: $black;
    }


    .card {
        // background-color: mat.get-color-from-palette($dark-palette, 'lighter');
        color: $white;
        // filter: brightness(53%);
    }
}

// *********************************** Dark Theme Ends Here *******************************************




// #################################### Pink Theme ####################################################
//                                -------( Define Pink Theme Palette here)------

$pink-primary: mat.define-palette(mat.$indigo-palette, 500);
$pink-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$pink-typography: mat.define-typography-config();

// ##### Pink Theme ##### //
$pink-theme: mat.define-light-theme((color: (primary: $pink-primary,
                accent: $pink-accent,
            ),
            typography: $pink-typography,
        ));

// @include mat.all-component-themes($pink-theme);

// ###### Pink Theme Class ######
.pink-theme {
    @include mat.all-component-colors($pink-theme);
    $dark-palette: mat.define-palette(mat.$pink-palette);
    color: mat.get-color-from-palette($dark-palette, 'darker-contrast');
    background: mat.get-color-from-palette($dark-palette, 'darker');

    .row {
        background-color: mat.get-color-from-palette($dark-palette, 'darker');
    }


    .card {
        background-color: mat.get-color-from-palette($dark-palette, 'lighter');
    }

}