<!-- <div class="row">
    <div class="md-col-12">
        <img class="img-fluid" src="https://www.freecodecamp.org/news/content/images/2019/12/angular-cli-install.png"
            alt="">
    </div>
</div> -->

<div class="alert alert-primary mt-5" role="alert">
    <h5>
        Angular Installation
    </h5>
</div>

<li>
    <span class="badge bg-primary">Step 1</span>
    <ul>
        <div>
            Download Nodejs
        </div>
        <a href=" https://nodejs.org/en/download/" target="_blank"> https://nodejs.org/en/download/</a>
    </ul>
</li>
<li>
    <span class="badge bg-primary">Step 2</span>
    <ul>
        <div>
            Check if Nodejs is Installed ?
        </div>
        <div>
            npm -v
        </div>
    </ul>
</li>
<li>
    <span class="badge bg-primary">Step 3</span>
    <ul>
        <div>
            Check if NPM is installed? <strong>(NPM:- Node Package Manager)</strong>
        </div>
        <div>
            npm -v
        </div>
    </ul>
</li>
<li>
    <span class="badge bg-primary">Step 4</span>
    <ul>
        <div>
            Install Angular <strong>CLI (Command Line Interface)</strong>
        </div>
        <div>
            npm install -g @angular/cli
        </div>
        <div>
            npm install -g @angular/cli@latest
        </div>
        <div>
            npm install -g @angular/cli@9 <strong>Specific to verson</strong>
        </div>

    </ul>
</li>
<li>
    <span class="badge bg-primary">Step 5</span>
    <ul>
        <div>
            Check if angular CLI is installed?
        </div>
        <div>
            ng v
        </div>
    </ul>
</li>
<li>
    <span class="badge bg-primary">Step 6</span>
    <ul>
        <div>
            Create a new angular project
        </div>
        <div>
            ng new <{{'project - name'}}>
        </div>
    </ul>
</li>
<li>
    <span class="badge bg-primary">Step 8</span>
    <ul>
        <div>
            Run the project
        </div>
        <div>
            Go to the project directory
        </div>
        <div>
            ng serve (project get up and run in server)
        </div>
    </ul>
</li>
<li>
    <span class="badge bg-primary">Step 9</span>
    <ul>
        <div>
            Open your browser (any) and open the given URL
        </div>
        <div>
            <a href="http://localhost:4200" target="_blank">http://localhost:4200</a>
        </div>
        <div>
            ng serve (project get up and run in server)
        </div>
    </ul>
</li>

<span class="badge bg-danger">
    Note :
</span>
&nbsp;
<span>
    <strong>
        ng serve command launches the angular application, watches your file changes and rebuilds the app when you make changes to those files
    </strong>
</span>