.card-header {
    background: #4da5fb;
    color: white;
    font-weight: 600;
}

.hand-index {
    transform: rotate(90deg);
}

.card-text {
    color: #4da5fb;
    cursor: pointer;
}

.text-content{
    cursor: pointer;

}

.ng-text-container{
    padding: 10px;
    text-align: center;
}